.main {
  padding: 10px 20px;
}
.section__mission {
  margin: 4em auto;
  display: flex;
  border: 1px solid #333333;
}
.section__mission__image {
  padding: 10px 20px;
}
.section__mission__description {
  h2,
  p,
  li {
    padding-bottom: 1em;
  }

  li {
    list-style-position: inside;
  }
}
.section__enchere {
  padding: 2rem;
}
.section__lord {
  margin: 4em auto;
  display: flex;
  border: 1px solid #333333;
}
.section__lord__image {
  padding: 10px 20px;
  img {
    width: 100%;
  }
}
.section__lord__description {
  h2,
  p {
    padding-bottom: 1em;
  }
}
