/* bouton.css */
.bouton {
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
.bouton-loupe {
  padding: 0.4rem 1rem;
  font-size: 1.2em;
}
.bouton-rechercher {
  background-color: var(--couleur-secondaire);
  border: none;
  color: var(--couleur-texte-inverse);

  &:hover {
    background-color: var(--couleur-accent);
    color: var(--couleur-texte-inverse);
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
.bouton-action {
  background-color: var(--couleur-secondaire);
  border: none;
  color: var(--couleur-texte);

  &:hover {
    background-color: var(--couleur-accent);
    color: var(--couleur-texte-inverse);
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
.bouton-suivre,
.bouton-login,
.bouton-ajouter,
.bouton-modifier {
  background-color: var(--couleur-texte-inverse);
  border: var(--couleur-secondaire) 1px solid;
  color: var(--couleur-secondaire);

  &:hover {
    background-color: var(--couleur-accent);
    color: var(--couleur-texte-inverse);
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
.bouton-enchere {
  background-color: var(--couleur-secondaire);
  border: 1px solid white;
  color: var(--couleur-texte-inverse);

  &:hover {
    background-color: var(--couleur-accent);
    color: var(--couleur-texte-inverse);
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
