/* bouton.css */
.bouton {
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
.bouton-loupe {
  padding: 0.4rem 1rem;
  font-size: 1.2em;
}
.bouton-rechercher {
  background-color: var(--couleur-secondaire);
  border: none;
  color: var(--couleur-texte-inverse);

  &:hover {
    background-color: var(--couleur-accent);
    color: var(--couleur-texte-inverse);
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
.bouton-action {
  background-color: var(--couleur-secondaire);
  border: none;
  color: var(--couleur-texte);

  &:hover {
    background-color: var(--couleur-accent);
    color: var(--couleur-texte-inverse);
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
.bouton-suivre,
.bouton-login {
  background-color: var(--couleur-texte-inverse);
  border: var(--couleur-secondaire) 1px solid;
  color: var(--couleur-secondaire);

  &:hover {
    background-color: var(--couleur-accent);
    color: var(--couleur-texte-inverse);
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
.bouton-enchere {
  background-color: var(--couleur-secondaire);
  border: 1px solid white;
  color: var(--couleur-texte-inverse);

  &:hover {
    background-color: var(--couleur-accent);
    color: var(--couleur-texte-inverse);
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}

/* bouton formulaire */
.btn {
  display: inline-block;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid var(--couleur-primaire);
  border-radius: 5px;

  text-align: center;
  font-size: inherit;
  color: var(--couleur-texte-inverse);
  text-decoration: none;
  cursor: pointer;
}

.btn.vert {
  background-color: var(--couleur-succes-fond);
  &:hover {
    background-color: var(--couleur-succes-fond-hover);
  }
}
.btn.rouge {
  background-color: var(--couleur-erreur-fond);
  &:hover {
    background-color: var(--couleur-erreur-fond-hover);
  }
}
.btn.bleu {
  background-color: var(--couleur-favoris);
  &:hover {
    background-color: var(--couleur-favoris-inverse);
  }
}
