/* bouton.css */
.bouton {
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
.bouton-loupe {
  padding: 0.4rem 1rem;
  font-size: 1.2em;
}
.bouton-rechercher {
  background-color: var(--couleur-secondaire);
  border: none;
  color: white;

  &:hover {
    background-color: var(--couleur-accent);
    color: white;
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
.bouton-action {
  background-color: var(--couleur-secondaire);
  border: none;
  color: var(--couleur-texte);

  &:hover {
    background-color: var(--couleur-accent);
    color: white;
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
.bouton-suivre,
.bouton-login {
  background-color: white;
  border: #b22234 1px solid;
  color: var(--couleur-secondaire);

  &:hover {
    background-color: var(--couleur-accent);
    color: white;
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
.bouton-enchere {
  background-color: var(--couleur-secondaire);
  border: 1px solid white;
  color: white;

  &:hover {
    background-color: var(--couleur-accent);
    color: white;
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
