/* bouton.css */
.bouton {
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.bouton-loupe {
  padding: 0.4rem 1rem;
  font-size: 1.2em;
}

.bouton-action {
  background-color: var(--couleur-secondaire);
  border: none;
  color: var(--couleur-texte);

  &:hover {
    background-color: var(--couleur-accent);
    color: var(--couleur-texte-inverse);
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
.bouton-suivre,
.bouton-login,
.bouton-modifier {
  background-color: var(--couleur-texte-inverse);
  border: var(--couleur-secondaire) 1px solid;
  color: var(--couleur-secondaire);

  &:hover {
    background-color: var(--couleur-accent);
    color: var(--couleur-texte-inverse);
  }

  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
.bouton-rechercher {
  padding: 1rem 2rem;
  color: var(--couleur-primaire);
  background-color: var(--couleur-accent);
  border: 1px solid var(--couleur-primaire);

  &:hover {
    background-color: var(--couleur-texte-inverse);
    color: var(--couleur-primaire);
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}

.bouton-reset {
  padding: 1rem 2rem;
  color: var(--couleur-primaire);
  background-color: var(--couleur-texte-inverse);

  &:hover {
    background-color: var(--couleur-accent);
    color: var(--couleur-primaire);
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}

.bouton-suivre {
  padding: 1rem 2rem;
  color: var(--couleur-secondaire);
  border: 1px solid var(--couleur-secondaire);
  border: 1px solid var(--couleur-primaire);

  &:hover {
    background-color: var(--couleur-secondaire);
  }
  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
.bouton-enchere,
.bouton-retour,
.bouton-supprimer {
  background-color: var(--couleur-secondaire);
  border: 1px solid white;
  color: var(--couleur-texte-inverse);

  &:hover {
    background-color: var(--couleur-accent);
    color: var(--couleur-texte-inverse);
  }

  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}

.bouton-ajouter {
  background-color: var(--couleur-texte-inverse);
  border: var(--couleur-primaire) 1px solid;
  color: var(--couleur-primaire);

  &:hover {
    background-color: var(--couleur-accent);
    border: var(--couleur-texte-inverse) 1px solid;
    color: var(--couleur-texte-inverse);
  }

  &:hover:active {
    background-color: var(--couleur-bouton);
  }
}
