/* carte.css */
/* carte-image */
.section__detail-enchere {
  padding: 2rem 2rem 0 2rem;

  @media (min-width: 1024px) {
    article {
      display: flex;
      gap: 1rem;
    }
  }
}

.section__detail-enchere__carte-image {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 2rem;
  border: 1px solid black;

  @media (min-width: 1024px) {
    margin-bottom: 0;
  }
}
.section__detail-enchere__carte-image__timbre-large {
  display: block;
  margin-bottom: 2rem;
  width: 100%;

  @media (min-width: 600px) {
    width: 500px;
  }
}
.section__detail-enchere__carte-image__timbre-petit {
  display: block;
  width: 150px;
}
/* carte-description */
.section__detail-enchere__carte-description {
  border: 1px solid black;
}
.section__detail-enchere__carte-description__menu {
  padding: 2rem;
  border-bottom: 1px solid black;

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;

    @media (min-width: 600px) {
      flex-flow: row;
    }
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: var(--couleur-texte);
  }
  a:hover {
    text-decoration: underline;
  }
}
.section__detail-enchere__carte-description__contenu {
  padding: 2rem;
  display: block;
}
.bordure-au-dessus {
  border-top: 1px solid black;
}

.section__detail-enchere__carte-description__contenu__montant {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;

  @media (min-width: 600px) {
    gap: 0;
    flex-flow: row;
  }
}

.section__detail-enchere__carte-description__contenu__montant__limite {
  h3 {
    margin-bottom: 1rem;
  }
  h4 {
    color: var(--couleur-secondaire);
  }
}

.section__detail-enchere__carte-description__contenu__montant__saisie {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;

  & > div {
    display: flex;
    flex-flow: column;

    label {
      font-weight: bold;
      margin-bottom: 1em;
    }
    #montant-enchere {
      padding: 1rem;
      width: 6ch;
      margin-bottom: 1rem;
    }
  }
  .bouton-action {
    padding: 1rem 2.5rem;
    color: white;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  #montant-enchere-courant {
    display: flex;
    flex-basis: 100%;
    border-top: 1px solid black;
    margin-top: 2rem;
    padding-top: 2rem;
  }
}

.section__detail-enchere__carte-description__contenu__avertissement {
  margin-bottom: 2rem;
}

.section__detail-enchere__carte-description__contenu__surveiller {
  display: flex;
  justify-content: flex-end;

  .bouton-suivre {
    padding: 1rem 2rem;
    text-transform: uppercase;
    color: var(--couleur-secondaire);
    border: 1px solid #b22234;

    &:hover {
      background-color: var(--couleur-secondaire);
      cursor: pointer;
    }
  }
}
.section__detail-enchere__carte-description__contenu__login {
  padding-left: 1em;
  margin-bottom: 1em;
}

.section__detail-enchere__carte-description__menu__lien-actif {
  font-weight: bold;
}
.section__detail-enchere__carte-description__contenu__plus,
.section__detail-enchere__carte-description__contenu__historique,
.section__detail-enchere__carte-description__contenu__question {
  h3 {
    border-bottom: 1px solid #3333;
    margin-bottom: 1em;
  }
  p {
    line-height: 1.5em;
    padding-left: 1em;
    padding-bottom: 1em;
  }
}
.section__detail-enchere__carte-description__contenu__item-description,
.section__detail-enchere__carte-description__contenu__item-specifiques {
  h3 {
    border-bottom: 1px solid #3333;
    margin-bottom: 1.5em;
  }
  p {
    line-height: 1.5em;
    padding-left: 1em;

    &:last-child {
      padding-bottom: 1em;
    }
  }
}
.section__detail-enchere__carte-description__contenu__plus__liens {
  display: flex;
  gap: 1em;

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.section__detail-enchere__carte-description__contenu__plus__lien {
  img {
    display: block;
    width: 250px;
  }
  a {
    color: var(--couleur-texte);
  }
}
