/* formulaire.css */

.section__login,
.section__timbre {
  margin: 4em auto;
  display: flex;
  justify-content: center;
}

.section__login__form,
.section__timbre__form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
  width: 40vw;
  padding: 1em;
  border: 1px solid var(--couleur-primaire);
  font-size: 1.2rem;

  input,
  label,
  textarea,
  select {
    font-size: inherit;
  }

  .section__timbre__form__image {
    width: 150px;
  }

  .section__timbre__certification {
    padding: 1em;
  }

  .section__timbre__upload {
    padding: 1em;
    button {
      padding: 0.4rem 1rem;
      font-size: 1.2em;
    }
  }

  label {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  select {
    padding: 0.5em;
  }

  ul {
    list-style-type: none;
    text-align: start;

    li:before {
      content: "- ";
    }
  }

  .error {
    padding: 5px;
    background-color: var(--couleur-erreur-fond);
    border-radius: 5px;
    border: var(--couleur-erreur) 1px solid;
    font-size: 0.9em;
    line-height: 2;
    color: var(--couleur-secondaire);
  }
}

form.section__newsletter__contenu__email {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 0.5em;
  }
}
.section__timbre__image {
  display: flex;
  gap: 1em;
}

.section__timbre__image__items {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 1em;
}

.section__timbre__image__item {
  width: 150px;
}
