/* formulaire.css */
/* Login */
.section__login {
  margin: 4em auto;
  display: flex;
  justify-content: center;
}

.section__login__form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
  width: 40vw;
  padding: 1em;
  border: 1px solid black;
  font-size: 1.2rem;

  input,
  label,
  textarea {
    font-size: inherit;
  }

  label {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  input[type="email"],
  input[type="password"] {
    padding: 0.5em;
  }
}
