/* formulaire.css */
/* Login */
.section__login {
  margin: 4em auto;
  display: flex;
  justify-content: center;
}

.section__login__form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
  width: 40vw;
  padding: 1em;
  border: 1px solid black;
  font-size: 1.2rem;

  input,
  label,
  textarea {
    font-size: inherit;
  }

  label {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  input[type="email"],
  input[type="password"] {
    padding: 0.5em;
  }

  ul {
    list-style-type: none;
    text-align: start;

    li:before {
      content: "- ";
    }
  }

  .error {
    padding: 5px;
    background-color: #fde1e4;
    border-radius: 5px;
    border: #b22234 1px solid;
    font-size: 0.9em;
    line-height: 2;
    color: #b22234;
  }
}
