/* piedpage.css */
.section__piedpage {
  margin-top: 3rem;
  text-align: center;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  @media (min-width: 600px) {
    text-align: unset;
  }
}

/* bandeau rouge */
.section__piedpage__bandeau-rouge {
  background-color: var(--couleur-secondaire);
  color: var(--couleur-texte);
}
.section__piedpage__bandeau-rouge__menu-secondaire {
  padding: 1rem 2rem;

  li:not(:last-child) {
    padding-bottom: 1rem;
  }

  a {
    color: var(--couleur-texte);
  }
  a:hover {
    text-decoration: underline;
  }

  @media (min-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    li:not(:last-child) {
      border-right: 1px solid black;
      padding-right: 3rem;
      padding-bottom: unset;
    }
  }
}

/* bandeau or */
.section__piedpage__bandeau-or {
  background-color: var(--couleur-accent);
  color: var(--couleur-texte);

  a {
    display: inline-block;
    padding: 0.5em 0;
    color: var(--couleur-texte);
  }
  a:hover {
    text-decoration: underline;
  }
}
.section__piedpage__bandeau-or__menu-secondaire {
  padding: 2rem;

  & > li:not(:last-child) {
    padding-bottom: 2rem;
  }

  h3 {
    text-transform: uppercase;
    padding-bottom: 1rem;
  }

  @media (min-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;

    & > li {
      width: 20%;
    }

    & > li:not(:last-child) {
      border-right: 1px solid black;
      padding-right: 3rem;
      padding-bottom: unset;
    }
  }
}

/* bandeau gris*/
.section__piedpage__bandeau-gris {
  background-color: var(--couleur-texte);
  color: var(--couleur-texte-inverse);
  a {
    color: var(--couleur-texte-inverse);
  }
  a:hover {
    text-decoration: underline;
  }
}
.section__piedpage__bandeau-gris__menu-secondaire {
  padding: 1rem 2rem;

  li:not(:last-child) {
    padding-bottom: 1rem;
  }

  @media (min-width: 600px) {
    display: flex;
    gap: 2rem;

    li:not(:last-child) {
      border-right: 1px solid white;
      padding-right: 3rem;
      padding-bottom: unset;
    }
  }
}
