/* base.css */
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: var(--police-mobile-body);
  @media (min-width: 600px) {
    font-size: var(--police-body);
  }
  color: var(--couleur-texte);
}

/* Général Fonts */
h1,
.h1 {
  font-size: var(--police-mobile-taille-xl);
  font-family: var(--police-titre);
  margin-block: 0.67em;
  @media (min-width: 600px) {
    font-size: var(--police-taille-xl);
  }
  color: inherit;
}
h2,
.h2 {
  font-size: var(--police-mobile-taille-lg);
  font-family: var(--police-titre);
  @media (min-width: 600px) {
    font-size: var(--police-taille-lg);
  }
  color: inherit;
}
h3,
.h3 {
  font-size: var(--police-mobile-taille-md);
  font-family: var(--police-corps);
  font-weight: bold;
  @media (min-width: 600px) {
    font-size: var(--police-taille-md);
  }
  color: inherit;
}
h4,
.h4 {
  font-size: var(--police-mobile-taille-sm);
  font-family: var(--police-corps);
  font-weight: bold;
  @media (min-width: 600px) {
    font-size: var(--police-taille-sm);
  }
  color: inherit;
}
a,
p,
ul,
li,
button,
span,
label,
select,
option {
  font-size: 16px;
  font-family: var(--police-corps);
  color: inherit;
}

sup {
  font-family: var(--police-corps);
  color: inherit;
}
