.section__catalogue-enchere-en-cours,
.section__catalogue-enchere-archives {
  margin-top: 2rem;
  padding: 0 2rem;
}
.section__catalogue-enchere-en-cours__grille,
.section__catalogue-enchere-archives__grille {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));

  ul {
    list-style-type: none;
  }
}
.section__catalogue-enchere-en-cours__grille__carte {
  border: 1px solid black;
  padding: 2rem;
  line-height: 2rem;
  background-color: white;
}
.section__catalogue-enchere-en-cours__grille__carte__liste {
  li {
    padding-left: 1rem;
  }
}

.section__catalogue-enchere-archives__grille__carte {
  border: 1px solid grey;
  padding: 2rem;
  line-height: 2rem;
  background-color: white;
}
.section__catalogue-enchere-archives__grille__carte__liste {
  li {
    padding-left: 1rem;
  }
}
.section__catalogue-enchere-archives__grille__carte__image {
  display: flex;
  width: 100%;
}
