.section__catalogue-enchere-en-cours,
.section__catalogue-enchere-archives {
  margin-top: 2rem;
  padding: 0 2rem;
}

.section__liste .section__catalogue-enchere-en-cours__grille,
.section__catalogue-enchere-archives__grille,
.section__liste-timbre__grille {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));

  ul {
    list-style-type: none;
  }
}

.section__liste-timbre__grille {
  flex-grow: 1;
}
.section__catalogue-enchere-en-cours__grille__carte,
.section__liste-timbre__grille__carte {
  border: 1px solid var(--couleur-primaire);
  padding: 2rem;
  line-height: 2rem;
  background-color: white;
}
.section__catalogue-enchere-en-cours__grille__carte__list {
  li {
    padding-left: 1rem;
  }
}

.section__catalogue-enchere-archives__grille__carte {
  border: 1px solid var(--couleur-primaire);
  padding: 2rem;
  line-height: 2rem;
  background-color: white;
}
.section__catalogue-enchere-archives__grille__carte__list {
  li {
    padding-left: 1rem;
  }
}
.section__catalogue-enchere-archives__grille__carte__image,
.section__liste-timbre__grille__carte__image {
  display: flex;
  width: 100%;
}

.section__liste-timbre__grille__carte__image__timbre-petit {
  display: block;
  width: 150px;
}

.section__liste-timbre__grille__carte__item {
  h3 {
    border-bottom: 1px solid var(--couleur-primaire);
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
  p {
    line-height: 1.5em;
    padding-left: 1em;

    &:last-child {
      padding-bottom: 3em;
    }
  }
}
